<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include navigation.html %}

<iframe data-aa="1379399" src="//acceptable.a-ads.com/1379399" scrolling="no" style="border:0px; padding:0; width:100%; height:100%; overflow:hidden" allowtransparency="true"></iframe>

    <main>
      {{ content }}
    </main>

<iframe data-aa="1379399" src="//acceptable.a-ads.com/1379399" scrolling="no" style="border:0px; padding:0; width:100%; height:100%; overflow:hidden" allowtransparency="true"></iframe>

    {% include footer.html %}
  </body>
</html>
